.containergraph{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.tabs{
display: flex;
width: 800px;
justify-content: space-between;
}

.content{
    margin-top: 20px;
width: 1000px;
}

.graphImage{

}