.containergraph {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content {
  margin-top: 20px;
  display: block;
  align-items: center;
  justify-content: center;

}

.graphImage {
  height: 70vh;
  max-height: 100vh;
}
