/* HomePage.css */

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadce0; /* Match toolbar border color */
  border-radius: 4px; /* Match toolbar border-radius */
  padding: 10px;
  width: 150px;
}

.option-label {
  margin-bottom: 8px;
}

.right-box {
  flex-grow: 1;
  margin-left: 20px;
  border: 1px solid #dadce0; /* Match toolbar border color */
  border-radius: 4px; /* Match toolbar border-radius */
  padding: 20px;
}
