/* HomePage.css */

.homepage-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 15px;
  width: 150px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.option-label {
  margin: 8px 0;
}

.right-box {
  flex-grow: 1;
  margin-left: 20px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.homepage-button {
  margin: 4 4 4 4;
}
